body {
  /* Use System Fonts */
  /* Default: Apple-System, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB",
"Microsoft YaHei", STXihei, sans-serif */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    STXihei, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-rendering: optimizeLegibility;

  /* To prevent jank, always show the scrollbar. */
  overflow-y: scroll;
  min-width: 320px;
}

/* Apple-System is the strange/blurry font. */

/* On mobile, reduce padding on navbar buttons. */
@media (max-width: 450px) {
  .rs-nav-item-content {
    padding-right: 6px !important;
    padding-left: 6px !important;
  }
  .rs-navbar-nav .rs-dropdown > .rs-dropdown-toggle {
    padding-left: 5px !important;
  }
}

@media (max-width: 350px) {
  .rs-nav-item-content {
    padding-right: 2px !important;
    padding-left: 2px !important;
  }
  .rs-navbar-nav .rs-dropdown > .rs-dropdown-toggle {
    padding-left: 2px !important;
  }
}

/* Some rsuite components like to spill over edges on mobile */
.rs-modal {
  max-width: 100%;
}

.rs-input {
  max-width: 100%;
}